/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Applying a shadow effect on top of the HTML background */
html {
    background-color: white;
}

/* Defining max width for A4 format */
#custom-body {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Styling the header and footer with different background colors */
#custom-header {
    background-color: lightblue;
    color: white;
    padding: 10px;
    text-align: center;
}

#custom-footer {
    background-color: lightblue;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

/* Styling the body with a white background and flex-grow to take the remaining space */
#custom-main {
    background-color: white;
    flex-grow: 1;
    padding: 20px;
}

/* Styling for h1 */
h1 {
  font-size: 45px !important;
   margin-top: 40px !important;
  font-weight: bold;
}

/* Styling for h2 */
h2 {
  font-size: 40px !important;
  font-weight: bold;
}

/* Styling for h3 */
h3 {
  font-size:  28 !important;
  font-weight: bold;
  margin-top: 40px !important;
  color:white;
    background-color: lightblue; /* Set your desired background color */
  display: inline-block; /* Make the background only as wide as the content */
  padding: 10px; /* Add some padding for better visual appearance */
  border-radius: 20px; /* Optional: Add rounded corners */
}

li, div, p {
    font-size:  20px !important;
}

#custom-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(50% - 20px); /* Subtract the margin from 50% to ensure two cards fit in a row */
    margin: 10px; /* Adjust the margin as needed */
}

#custom-subtitle {
    text-align: center;
    padding: 20px;
}


#custom-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

#custom-navigation li {
  margin: 0;
}

#custom-navigation a {
  text-decoration: none;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

#custom-navigation a:hover {
  background-color: #555;
}

.active a /*Change colors of the current page's link to indicate what page is currently displayed*/ {
  background-color: #404040 !important;
}

#SolutionSketchContainer{
    display: flex;
    flex-direction: row;
}

/* For pages display : https://getbootstrap.com/docs/4.1/components/collapse/  */


/* Media query for phones */
@media (max-width: 900px) {
    #custom-card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: calc(80% - 20px); /* Subtract the margin from 50% to ensure two cards fit in a row */
        margin: 10px; /* Adjust the margin as needed */
    }
}


